<div class="row">

  <!-- TABLE -->
  <div class="col-md-12">

    <button (click)="openModal()"
      type="button"
      class="btn btn-primary mb-4"
    >Nuevo Producto</button>

    <table class="table table-striped">
      <thead>
        <th>Código</th>
        <th>EAN</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Estado</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let product of productService.products">
          <td>{{ product.codigoProducto }}</td>
          <td>{{ product.eanproducto }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.precio }}</td>
          <td>
            <input
              type="checkbox"
              [checked]="product.codigoEstado === 1"
            />
          </td>
          <td>
            <div class="btn-group" role="group">
              <a
                (click)="openModal(product.idProducto)"
                class="btn btn-dark btn-sm"
                title="Editar"
              >
                <i class="material-icons">edit</i>
              </a>
              <a
                (click)="changeStatus(product)"
                [ngClass]="'btn btn-sm btn-' + estadosInfo[product.codigoEstado].color"
                [title]="estadosInfo[product.codigoEstado].texto"
              >
                <i class="material-icons">{{ estadosInfo[product.codigoEstado].icono }}</i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>